#container{
    display: flex;
    flex-direction: column;
    margin-left: 330px;
    margin-top: 110px;
}

.container{
    display: flex;
}

.espaco{
    width: 60px;
    height: 60px;
    border: 2px solid cyan;
    display:flex;
    text-align:center;
    justify-content:center;
    align-items:center;
    flex-direction:column;
}
.jogo{
    width: 30px;
    height: 30px;
    border: 1px solid black; 
    border-radius: 50%;

}
.red{
    width: 30px;
    height: 30px;
    background: darkred;
    border-radius: 50%;
}

.black{
    width: 30px;
    height: 30px;
    background: black;
    border-radius: 50%;
}
